
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.encabezado{
    background-color: #563E5A;
    color: white;
    display: flex;
    justify-content: space-between;
    height:100px;
    align-items: center;
    padding: 0 40px;
}

.menu ul{
    display: flex;
    list-style: none;
}

.menu a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

.ctn-avatar{
    height: 586px;
    background-color: #9B8E90;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.ctn-avatar img{
    width: 200px;
}

.ctn-avatar h2{
    color:white;
    font-size: 68px;
}

.linea{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ctn-avatar p{
    font-size: 28px;
    color: white;
}


/* ------------------------------- */

.linea-W{
    margin: 20px;
    width: 100px;
    border: 2px solid white;
}

.estrella-W{
    color: white;
    font-size: 22px;
}

.linea-A{
    margin: 20px;
    width: 100px;
    border: 2px solid #2C3E51;
}

.estrella-A{
    color:#2C3E51 ;
    font-size: 22px;
}


.titulos-blanco{
    color: white;
    font-size: 68px;
}

.titulos-azul{
    color:#2C3E51 ;
    font-size: 68px;
}

/* -------------------------------- */
.ctn-titulo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
}
.body-card {
    display: flex;
    gap: 16px;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    width:30%;
    height: 300px;
    text-align: center;
}

.card img{
    width: 200px;
    height: 200px;
}

.sobre-mi{
    height:586px ;
    background-color: #9B8E90;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.ctn-parrafos{
    display: flex;
    font-size: 20px;
    color: white;
    justify-content: center;
    gap: 40px;
    

}

.ctn-parrafos p{
    margin: 10px;
    width: 20%;
    text-align: start;
   
}

.sobre-mi a{
    color: white;
    text-decoration: none;
    font-size: 28px;
    margin-top: 20px;
    border: 2px solid white;
    height: 50px;
    border-radius: 5px;
    width: 250px;
    font-size: 20px;

}
.sobre-mi img{
    width: 30px;
    margin-right: 20px;

}
.boton {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contacto{
    padding: 40px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
}
form input{
    height: 40px;
}

form .boton{
    background-color: #9B8E90;
    color: white;
    border: none;
    height: 50px;
    border-radius: 5px;
    width: 150px;
    font-size: 20px;
    text-decoration: none;
}

footer{
    background-color: #53687E;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px;
    height: 200px;
    align-items: center;
}

.copy{
    text-align: center;
    color: white;
    font-size: 18px;
    margin-left: 20px;
    background-color: #1A252F;
}